@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #0f172a;
    --color-accent: #35858e;
    --color-secondary: #ffffff;
    --color-dark: #f1f5f9;
  }

  .dark {
    --color-primary: #f8fafc;
    --color-accent: #35858e;
    --color-secondary: #1e293b;
    --color-dark: #0f172a;
  }
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
}

img:hover {
    scale: 102%;
}

.loading {
    width:100px;
    height:100px;
    border-radius:50%;
    background: 
      radial-gradient(farthest-side,#35858e 95%,#0000) 50% 1px/24px 24px no-repeat,
      radial-gradient(farthest-side,#0000 calc(100% - 28px),#E4E4ED 0);
    animation:s9 1s infinite linear;
}
@keyframes s9 {to{transform: rotate(1turn)}}